$main-color: orange;
$font-color: white;
$btn-width: 100px;

.first {
  &:hover {
    background: {
      color: red;
    }
  }
}

.second:hover {
  background-color: blue;
}

button {
  &:nth-child(1) {
    color: $font-color;
    background-color: $main-color;
    width: $btn-width;
  }
  &:nth-child(2) {
    color: $font-color;
    background-color: $main-color;
    width: $btn-width;
  }
  &:nth-child(3) {
    color: $font-color;
    background-color: $main-color;
    width: $btn-width;
  }
}

@mixin box-style($bg-color: yellow, $font-color: green) {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $font-color;
}

.one {
  @include box-style($bg-color: red);
}

.two {
  @include box-style(violet, green);
}
